
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid black;
    padding: 5px;
}
a {
    color: black;
}

.task {
    width: 400px;
    border: none;
}
.td-for-task.rs-touday {
    /* background-color: #dcdcdc;   */
    border-left: none;
}
.rs-line.rs-touday {
    margin-left: -18px;
}
.rs-line {
    display: block;
    background-color: lightcoral;   
    height: 20px;
    margin-right: 11px;
    /* margin-left: 13px; */
    border-radius: 15px;
    /* margin-bottom: 5px; */
}
.rs-line--last {
    margin-right: 0;
    border-radius: 15px 0 0 15px;
}

.table__title {
    font-size: 28px;
    text-align: center;
    position: relative;
    width: 80%;
    line-height: 28px;
}
.rs-type {
    background-color: lightgrey;
}
.rs-objects {
    width: 300px;
}

.btn--prev {
    float: left;
} 
.btn--next {
    float: right;
} 

#table tbody tr:hover {
    background-color: #f1f1f1;
}

.rs-show-modal{
    text-align: center;
    cursor: pointer;
}
.modal-footer--space {
    justify-content: flex-end;
}
.rs-day-column {
    min-width: 25px;
    height: 25px;
}