table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #ced4da;
    padding: 5px;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.task {
    width: 400px;
    border: none;
}

.rs-line {
    display: block;
    background-color: red;   
    border-radius: 15px;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    text-align: center;
}
.rs-line:hover {
    color: #fff;
}
.rs-line--last {
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.rs-line--first {
    margin-right: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.table__title {
    font-size: 28px;
    text-align: center;
    position: relative;
    width: 80%;
    line-height: 28px;
}
.rs-type {
    background-color: lightgrey;
}
.rs-objects {
    width: 300px;
}

.btn--prev {
    float: left;
} 
.btn--next {
    float: right;
} 

#table tbody tr:hover {
    background-color: #f1f1f1;
}

.rs-show-modal{
    text-align: center;
    cursor: pointer;
}
.modal-footer--space {
    justify-content: space-between;
}
.rs-day-column {
    min-width: 25px;
    height: 25px;
    text-align: center;
}
.rs-container {
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
}
caption {
	caption-side: top!important;
}
.rs-form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
    margin-top: 40px;
    align-items: flex-end;
}
.rs-form__img  h1{
    line-height: 34px;
    color: #0062cc;
}
.rs-form-list {
	display: flex;
	flex-wrap: wrap;
	/*width: 728px;*/
}
.rs-form-item:not(:last-child) {
	margin-right: 20px;
}
.rs-form__img img{
	max-width: 223px;
}
.rs-green {
    background-color: green;
}

.rs-red {
    background-color: lightcoral;
}
.rs-grey {
    background-color: lightgrey;
}
.rs-task-deal {
    color: red;
}

.rs-task-deal a {
    color: #0062cc;
}